body {
    font-family: Arial, Helvetica, sans-serif;
    color: #e4b7e2;
    margin: 40px;
    background-color: #192234;
}

.dashboard {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 40px;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#status {
    margin-top: 20px;
    font-size: 18px;
    color: #dedede;
}

.user-list div {
    background-color: #f5f5f5d7;
    padding: 10px;
    cursor: pointer;
    border-bottom: 1px solid #0000005d;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(132, 129, 129, 0);
    margin-top: 2px;
}

.user-list div:hover {
    background-color: #1e2126;
}

.user-detail {
    background-color: #f5f5f5d7;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(205, 201, 201, 0.1);
    margin-top: 2px;
    border-bottom: 1px solid #0000005d;
}